<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

<div class="container">


    <div class="criar1">
        <h1 id="tit1">Criar Sensor sem Falha</h1>
        <input type="number" id="holder_sensor_funcional" placeholder="número sensores" min="1" max="9999">
        <select class="tipo">
        <option value="">definir tipo sensor</option>
        <option value="temp">sensor de temperatura</option>
        <option value="umid">sensor de umidade</option>
        </select>
        <div id="campos-temperatura" style="display:none">
         <input type="number" placeholder="mínima (°C)">
         <input type="number" placeholder="máxima (°C)">
        </div>

    <div id="campos-umidade" style="display:none">
        <input type="number" placeholder="mínima (%)">
        <input type="number" placeholder="máxima (%)">
        </div>  
        <button id="btnCriar" onclick="addSensor()">Criar</button>
    </div>


    <div class="criar2">
        <h1 id="tit2">Criar Sensor com Falha</h1>
        <input type="number" id="holder_sensor_falha" placeholder="número sensores" min="1" max="9999">
        <select class="tipo_falha">
        <option value="">definir tipo da falha</option>
        <option value="temp">temperatura</option>
        <option value="umid">umidade</option>
        <option value="no-resp">falta de resposta</option>
        </select>
        <button id="btnCriar" onclick="addSensor()">Criar</button>
    </div>
</div>

    <script src="script.js"></script>
</body>
</html>
